{% extends 'base.html.twig' %}

{% block body %}
<h2 class="text-center">Annuler une sortie :</h2>

<div class="container">
    <div class="row">

        <div>
        </div>
{% endblock %}

{% block title %}

{% endblock %}

