{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Create {% endblock %}
{% block body %}
    <h2 class="text-center">Créer une sortie :</h2>
    {{ form_start(sortiesForm) }}
    <div class="container">
        <div class="row">

            {% include('sortie/_sortie.html.twig') %}

            <div class="d-flex justify-content-center mt-5">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-dark ">Enregistrer</button>
                </div>
                <div class="col-md-2">
                    <button type="button" onclick="window.location.href='{{ path('main_home') }}'"  class="btn btn-outline-dark">Publier</button>
                </div>
                <div class="col-md-2">
                    <button type="reset" class="btn btn-outline-dark ">Annuler</button>
                </div>

            </div>

        </div>
    </div>
    {{ form_end(sortiesForm) }}
{% endblock %}

{#{% block javascripts %}
    <script>
       #}{#/* window.onload = () => {
            let ville = document.querySelector("#sortie_ville");
            ville.addEventListener("change", function(){
                let form = this.closest("form");
                console.log(form)
                let data = this.nom + "=" + this.value;
                console.log(data)
                fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: data,
                    header: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "charset":"utf-8"
                    }
                })
                .then(response => response.text())
                .then(html => {
                    console.log(html)
                    let content = document.createElement("html");
                    content.innerHTML = html;
                    let nouveauSelect = content.querySelector("#sortie_lieu");
                    console.log(nouveauSelect)
                    document.querySelector("#sortie_lieu").replaceWith()
                })
            });
        }*/#}{#
/*
       var $ville=$("#sortie_ville");
       $ville.change(function() {
           var $form = $(this).closest('form');
           var data = {};
           data[$ville.attr('nom')] = $ville.val();
           $.ajax({
               url : $form.attr('action'),
               type: $form.attr('method'),
               data : data,
               success: function(html) {
                   $('#meetup_position').replaceWith(
                       $(html).find('#meetup_position')
                   );
               }
*/

    </script>
{% endblock %}#}
