<nav class="navbar navbar-white mb-3">
    <div class="navbar-brand"></div>
    <div class="d-flex flex-row navbar-nav">
        <div class="p-2">
        <a href="" title="Home">Se connecter</a>
        </div>
        <div class="p-2">
            <a href="" title="Home">S'inscrire</a>
        </div>
    </div>
</nav>