<nav class="navbar navbar-white">
    <div class="navbar-brand"></div>
    <div class="d-flex flex-row navbar-nav">
        <div class="p-2">
        <a href="/login" title="Home">Se connecter</a>
        </div>
        <div class="p-2">
            <a href="/register" title="Home">S'inscrire</a>
        </div>
    </div>
</nav>